.section-step{
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-step h2{
    color: #000;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.3em;
}
.step-grid{
    display: flex;
    justify-content: space-between;
}
.step-item{
    margin: 15px;
    text-align: center;
    border: 1px solid #ebebeb;
    border-radius: 12px;
    padding: 50px
}
.step-item h5{
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Libertinusserif, sans-serif;
    font-size: 25px;
    line-height: 1.3em;
}
.step-nubmer{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.step-1{
    background-color: #dbf4ff 
}
.step-2{
    background-color: #fdfbc4;
}

.step-3{
    background-color: #d4ccff;
}
@media screen and (max-width:600px) {

    .step-grid{
        display: flex;
        flex-wrap: wrap;
    }
  

}
.feature-list{
    width: 60%;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.feature-list-item{
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    border-radius: 10px;
    align-items: center;
    padding: 8px 15px;
    display: flex;
}
.feature-list-icon{
    height: 22px;
}
@media screen and (max-width:600px) {

    .feature-list{
      width: auto;
    }
}
/*.split-section .row{
width: 1200px;
height: 600px;

}*/
.split-section h2{
    color: #000;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.3em;
}
.split-section-item{
    border: 1px solid #ebebeb;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 15px 20px;
    display: flex;
}
.icon-md{
    height: 36px;
}
.split-section-item .text-big{
    font-weight: 600;
}
.split-img-wrapper{
    text-align: center;
    background-color: #d4ccff;
    border-radius: 16px;
    margin-bottom: 10px;
    padding: 80px;
}
.split-img-wrapper img{
    width: 450px;
}
@media screen and (max-width:600px) {

    .split-section .split-img-wrapper{

        display: none;
    }

}
