*,body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.3em;
}

body{
 direction: ltr;
}
a{
    text-decoration: none;
}
li ol ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.container-fluid{
    width: 100%;
}
.container{
    clear: both;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}
.row::after{
    content: "";
    clear: both;
    display: table;

}
[class^="col-"]{
    float: left;
    padding-left: 20px;
    padding-right: 20px;

}
.img-responsive{
    height: auto;
    width: 100%;
    display: block;
}
.p-0{
    padding: 0!important;
}
.pb-100{
    padding-bottom: 100px;
}

.mt-0{
    margin-top: 0;
}
.mb-0{
    margin-bottom: 0;
}
figure{
    position: relative;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.mt-30{
    margin-top: 30px;

}
.text-center{
    text-align: center;
}
.m-50{
    margin: 50px;
}
.m-20{
    margin: 20px;
}
.mt-15{
    margin-top: 15px;
}
.mt-25{
    margin-top:25px;
}
.m-20px{
    margin: 20px;
}
.mt-5{
    margin-top: 5px;
}
.pt-0{
    padding-top: 0;
}
.ml-150{
    margin-left: 150px;
}
.mt-10{
    margin-top: 10px;
}
.mt-50{
    margin-top: 50px;
}
.mb-20{
    margin-bottom: 20px;
}
.ml-50{
    margin-left: 50px;
}
ptb-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.flex{
    display: flex;
}
.pt-50{
    padding-top: 50px;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.light-blue{
background-color: #dbf4ff;
}
.light-purple{
    background-color: #d4ccff;
}
.light-yellow{
    background-color: #fdfbc4;
}
.mb-100{
    margin-bottom: 100px;
}
h2{
    color: #000;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Libertinusserif, sans-serif;
    font-size: 52px;
    font-weight: 500;
    line-height: 1.3em;
}

@media only screen and (max-width:576px){
    .xs-hidden{
        display: none;
    }

.col-xs-1{
    width: 8/33%;
}
.col-xs-2{
    width: 16/66%;
}
.col-xs-3{
    width: 25%;
}
.col-xs-4{
    width: 33.33%;
}
.col-xs-5{
    width: 41.66%;
}
.col-xs-6{
    width: 50%;
}
.col-xs-7{
    width: 58/32%;
}
.col-xs-8{
    width: 66/66%;
}
.col-xs-9{
    width: 75%;
}
.col-xs-10{
    width: 83/33%;
}
.col-xs-11{
    width: 91/66%;
}
.col-xs-12{
    width: 100%;
}
}



@media only screen and(min-width: 576px) {
 .s-hidden{
    display: none;

}
.col-s-1{
    width: 8/33%;
}
.col-s-2{
    width: 16/66%;
}
.col-s-3{
    width: 25%;
}
.col-s-4{
    width: 33.33%;
}
.col-s-5{
    width: 41.66%;
}
.col-s-6{
    width: 50%;
}
.col-s-7{
    width: 58/32%;
}
.col-s-8{
    width: 66/66%;
}
.col-s-9{
    width: 75%;
}
.col-s-10{
    width: 83/33%;
}
.col-s-11{
    width: 91/66%;
}
.col-s-12{
    width: 100%;
}
}

@media only screen and (min-width:	768px) {

.col-md-1{
    width: 8/33%;
}
.col-md-2{
    width: 16/66%;
}
.col-md-3{
    width: 25%;
}
.col-md-4{
    width: 33.33%;
}
.col-md-5{
    width: 41.66%;
}
.col-md-6{
    width: 50%;
}
.col-md-7{
    width: 58/32%;
}
.col-md-8{
    width: 66/66%;
}
.col-md-9{
    width: 75%;
}
.col-md-10{
    width: 83/33%;
}
.col-md-11{
    width: 91/66%;
}
.col-md-12{
    width: 100%;
}
}
@media  only screen and (min-width:992px){
    .col-l-1{
        width: 8/33%;
    }
    .col-l-2{
        width: 16/66%;
    }
    .col-l-3{
        width: 25%;
    }
    .col-l-4{
        width: 33.33%;
    }
    .col-l-5{
        width: 41.66%;
    }
    .col-l-6{
        width: 50%;
    }
    .col-l-7{
        width: 58/32%;
    }
    .col-l-8{
        width: 66/66%;
    }
    .col-l-9{
        width: 75%;
    }
    .col-l-10{
        width: 83/33%;
    }
    .col-l-11{
        width: 91/66%;
    }
    .col-l-12{
        width: 100%;
    }
    }
    @media only screen and(min-width:1200px){ 
        .col-xl-1{
            width: 8/33%;
        }
        .col-xl-2{
            width: 16/66%;
        }
        .col-xl-3{
            width: 25%;
        }
        .col-xl-4{
            width: 33.33%;
        }
        .col-xl-5{
            width: 41.66%;
        }
        .col-xl-6{
            width: 50%;
        }
        .col-xl-7{
            width: 58/32%;
        }
        .col-xl-8{
            width: 66/66%;
        }
        .col-xl-9{
            width: 75%;
        }
        .col-xl-10{
            width: 83/33%;
        }
        .col-xl-11{
            width: 91/66%;
        }
        .col-xl-12{
            width: 100%;
        }
        }
